.details-main{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 3rem;
}

.details-main .vid-thumbnail{
  width: 100%;
  height: 25rem;
}
.details-main .vid-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
  border: 3px solid;
}

.details-main .head{
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin: 2rem 0 ;
}
.details-main .head  span{
  font-weight: normal;
}
.details-main .head .date{
  margin:0 1rem;
}
.details-main .overview{
  width: 100%;
}

@media screen and (max-width: 768px) {
 .details-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0rem;
    padding: 1.5rem;
  }
  
  .details-main .vid-thumbnail{
    width: 100%;
    height: 25rem;
    margin: 0rem;
  }
  .details-main .vid-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 2rem;
    border: 0px;
  }
  
  .details-main .head{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 2rem 0 ;
  }
  
  .details-main .head .title{
    margin-right:0rem;
  }
  .details-main .head .date{
    margin:1.5rem 0;
  }
  .details-main .overview{
    width: 100%;
  }
}