.movie-card{
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.movie-card .card-link{
    text-decoration: none;
    color: inherit;
}

.movie-card .fav{
    position: absolute;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}
.movie-card .poster{
    width: 100%;
}

.movie-card h2{
    text-align: left;
}