.movie-card{
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.fav{
    position: absolute;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}
.poster{
    width: 100%;
}

h2{
    text-align: left;
}