.sidenav {
  border: 1px solid black;
  border-radius: 0rem 3rem 3rem 0;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 100vh;
  color: #424242;
}

.sidenav .sidenav-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.sidenav .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav .navbar .navbar-link {
  text-decoration: none;
  color: inherit;
}

.sidenav .menu-icon {
  display: none;
}
.sidenav .mobile-menu{
  display: none;
}

.sidenav ul {
  margin: 2rem 0;
  padding: 0rem;
}
.sidenav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  margin: 1rem 0;
}

.sidenav ul .active {
  background-color: #ff5e5e;
}

.sidenav ul li img {
  margin-right: 1rem;
}


.sidenav .quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff1f2;
  border: 1px solid #ff5e5e;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 60%;
}

.sidenav .quiz .top {
  margin: 2rem 0 1rem 0;
}
.sidenav .quiz button {
  border: 3px solid #fecdd3;
  background-color: #fecdd3;
  border-radius: 3rem;
  padding: 0.3rem;
  color: #e11d48;
  margin-top: 1rem;
}
.sidenav .link {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .sidenav {
    border: 0px;
    border-radius: 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #424242;
    min-height: 7rem;
    padding:0rem;
  }
.sidenav.expanded {
  min-height: 100vh; 
  transition: height 0.9s; 
}
  .sidenav .sidenav-navigation {
    display: flex;
    flex-direction: column;
  }

  .sidenav .desktop-menu{
    display: none;
  }

  .sidenav .menu-icon{
    display: block;
  }
  .sidenav .mobile-menu.open {
    display: block; 
  }
  .sidenav .mobile-menu.open .navbar {
    width: 100%;
    display: block;
  }
  .sidenav .mobile-menu.open .navbar .navbar-link {
    text-decoration: none;
    color: inherit;
  }
  .sidenav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sidenav .logo .logo-link {
    margin-right: 1rem;
  }


  .sidenav ul {
    margin: 2rem 0;
    padding: 0rem;
  }
  .sidenav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    margin: 1rem 0;
  }

  .sidenav ul .active {
    background-color: #ff5e5e;
  }

  .sidenav .quiz {
    display: none;
  }

  .sidenav .link {
    text-decoration: none;
    color: #424242;
    font-weight: 600;
  }
}
